/* You can add global styles to this file, and also import other style files */
:root{
	--vz-thead-bg: #f3f6f9;
	--vz-border-color: #e9ebec;

}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  padding: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  padding: .8rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.table {
	text-align: left;
	overflow: auto;
    border-radius:12px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
thead {
	background: var(--vz-thead-bg);
}
th,
td {
	padding: 0.75rem 0.6rem;
	white-space: nowrap;
}
td {
	border-bottom: 1px solid var(--vz-border-color);
}
td:first-child {
	padding-left: 1rem;
}

th:first-child {
	padding-left: 1rem;
}
tr {
	cursor: default;
}

td a {
    color :black;
    text-decoration:none;
    
}

